<div class="announcement-list-box">
  <ul>
    {{#each model as |announcement|}}
      <li>
        {{announcement.message}}
      </li>
    {{/each}}
  </ul>
</div>

<div class="new-announcement-box">
  {{new-announcement saveAnnouncement="saveAnnouncement"}}
</div>

{{#link-to 'index'}}Home{{/link-to}}
