<div class="container">

  <h1> Welcome to Super Rentals </h1>

  We hope you find exactly what you're looking for in a place to stay.

  <div class="rental-list-box">
    <ul>
      {{#each model as |rental|}}
        {{rental-tile rental=rental destroyRental="destroyRental"}}
      {{/each}}
    </ul>
  </div>

  <div class="new-rental-box">
    {{new-rental save2="save3"}}
  </div>

  {{#link-to 'about'}}About{{/link-to}} -
  {{#link-to 'contact'}}Contact{{/link-to}} - 
  {{#link-to 'announcement'}}Announcements{{/link-to}}

</div>
